body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleFormButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 300px;
}

#toggleFormButton:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin: 20px auto; /* Auto margin for centering */
  width: 90%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row label {
  width: 100px;
}

.form-row input,
.form-row textarea,
.form-row select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.form-row textarea {
  resize: vertical;
}

form button {
  padding: 10px 20px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #4cae4c;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

#sort-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#sort-options label {
  margin-right: 10px;
}

#sort-options select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.film-item {
  display: flex;
  align-items: left;
  width: 100%;
  flex-direction: column;
}

.film-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.film-summary {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.film-summary h2 {
  width: 400px;
}

.film-summary p {
  flex-grow: 1;
}

.film-details {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
}

.film-details p {
  margin: 0;
  display: inline-block; /* Display the <p> elements inline */
  margin-left: 200px;
  margin-bottom: 20px;
}

.delete-button {
  padding: 10px 20px;
  border: none;
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c9302c;
}
