body {
  font-family: Arial, sans-serif;
  background-color: #2C3E50;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3498DB;
  text-align: center;
  margin: 20px 0;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleFormButton {
  padding: 10px 20px;
  border: none;
  background-color: #3498DB;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 300px;
}

#toggleFormButton:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin: 20px auto; /* Auto margin for centering */
  width: 90%;
  max-width: 800px;
  background-color: #e1e1e1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row label {
  width: 100px;
}

.form-row input,
.form-row textarea,
.form-row select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.form-row textarea {
  resize: vertical;
}

form button {
  padding: 10px 20px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #4cae4c;
}

h2 {
  color: #3498DB;
  text-align: center;
  margin: 20px 0;
  border-top: 1px solid #3498DB;
  padding-top: 20px;
}

#sort-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#sort-options select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e1e1e1;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.film-item {
  display: flex;
  align-items: left;
  width: 100%;
  flex-direction: column;
}

.film-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.film-summary {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.film-summary h2 {
  width: 33%;
  color: black;
  border-top: none;
  padding-top: none;
}

.film-summary p {
  flex-grow: 1;
}

.film-details {
  display: flex;
  flex-wrap: wrap; 
}

.film-details p {
  margin: 0;
  display: inline-block; 
  margin-left: 200px;
  margin-bottom: 20px;
}

.delete-button {
  padding: 10px 20px;
  border: none;
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c9302c;
}


/* Fix some formatting when the screen is smaller */
@media screen and (max-width: 1200px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin: 20px auto; /* Auto margin for centering */
    width: 90%;
    max-width: 800px;
    background-color: #ECF0F1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .form-row {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .film-details p {
    margin-left: 75px; /* Reset the left margin */
    display: block; /* Display the <p> elements as block */
  }
}